@{
    ViewBag.Title = "About Us";
}

<section class="agile-body">
    <div class="agile-heading">
        <div class="container">
            <div class="row about-content">
                <div class="col-lg-6 info mb-lg-0 mb-5 align-center">
                    <div class="agile-form">
                        <h3><span class="image"><b>About Us</b><br /><br /></span></h3>
                        <h4>
                            <span class="image">
                                We make and provide your perfect car easy and enjoyable.
                                By comparing the best offers from our <b>TOP</b> Local and National dealers,
                                you get the car you want, from the dealer you like best, at a price that’s right for you.
                            </span>
                        </h4>
                        <h4><span class="image"><br />You can easily ....<br /></span></h4>
                        <h4>
                            <span class="image">
                                <br />
                                <ul>
                                    <li>Choose your perfect car with the help of our impartial guides</li>
                                    <li><b>NO</b> need to haggle</li>
                                    <li><b>NO</b> hidden costs</li>
                                    <li>Buy direct from the dealer you prefer</li>
                                    <li>Fully warranty and Aftersales care</li>
                                </ul>
                            </span>
                        </h4>


                        <h4><span class="image"><br /><br /><br /><br /></span></h4>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</section>




