
@{
    ViewBag.Title = "Contact Us";
}

<section class="agile-body">
    <div class="agile-heading">
        <div class="container">
            <div class="row contact-content">
                <div class="col-lg-6 info mb-lg-0 mb-5 align-center">
                    <div class="agile-form">
                        <h3><span class="image"><b>We are here for you</b></span></h3>
                        <h4>
                            <span class="image">
                                For more information or inquiry<br />
                                Please feel free to get in touch with us.
                            </span>
                        </h4>
                        <br />
                        <h4>
                            <img src="~/Images/cc_loc.png" style="height:15px; width: 15px" />
                            <span class="image"><b>Address</b><br /></span>
                        </h4>
                        <h4>
                            <span class="image">
                                156 Block B, CC Commerial Tower,
                                30 Main Road, Greater Manchester, United Kingdom
                            </span>
                        </h4>
                        <br />
                        <h4>
                            <img src="~/Images/cc_phone.png" style="height:15px; width: 15px" />
                            <span class="image"><b>Phone</b><br /></span>
                        </h4>
                        <h4>
                            <span class="image">
                                123-456-7890
                            </span>
                        </h4>
                        <br />
                        <h4>
                            <img src="~/Images/cc_email.png" style="height:15px; width: 15px" />
                            <span class="image"><b>Email </b><br /></span>
                        </h4>
                        <h4>
                            <span class="image">
                                <a href="mailto:CMS@outlook.com">
                                    CMS@outlook.com
                                </a>
                            </span>
                        </h4>

                        <h4><span class="image"><br /><br /><br /><br /></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>